@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050200;
  color: white;
}

/* EXIT ica vermelho */
.yarl__button[aria-label="Close"]:hover {
  color: #ff3333 !important;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

/* Download fica Verde Neon */
.yarl__button[aria-label="Download"]:hover {
  color: #00e676 !important;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

/* BARRA DE ROLAGEM (LOWEND THEME) */

/* Suporte para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff4d00 #0a0a0a;
}

/* Suporte para Webkit (Chrome, Safari, Edge) */

/* Largura da barra */
::-webkit-scrollbar {
width: 8px;
height: 8px;
}

/* Trilho (Fundo escuro) */
::-webkit-scrollbar-track {
background: #0a0a0a;
border-left: 1px solid #1a1a1a;
}

/* Alça (Laranja Neon) */
::-webkit-scrollbar-thumb {
background: #ff4d00;
border-radius: 4px;
}

/* Hover da alça (Laranja mais brilhante) */
::-webkit-scrollbar-thumb:hover {
background: #ff7333;
}